In [1]:
#SET add() METHOD
fruits = {"apple", "banana", "cherry"}
fruits.add("mango")
print(fruits)

{'banana', 'mango', 'apple', 'cherry'}

In [2]:
#SET clear() METHOD
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

In [4]:
#SET copy() METHOD
fruits = {"apple", "banana", "cherry"}
print(fruits)
a = fruits.copy()
print(a)

{'banana', 'apple', 'cherry'}
{'banana', 'apple', 'cherry'}

In [8]:
#SET difference() METHOD
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = a.difference(b)
d = b.difference(a)
print(c)
print(d)

{'banana', 'cherry'}
{'microsoft', 'google'}

In [10]:
#SET difference_update() METHOD
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
y.difference_update(x)
print(x)
print(y)

{'banana', 'cherry'}
{'microsoft', 'google', 'apple'}

In [11]:
#SET discard() METHOD
fruits = {"apple", "banana","mango", "cherry"}
fruits.discard("banana")
print(fruits)

{'mango', 'apple', 'cherry'}

In [13]:
#SET intersection() METHOD
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}
result = x.intersection(y, z)
print(result)

{'c'}

In [15]:
#SET intersection_update() METHOD
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

p = {"a", "b", "c"}
q = {"c", "d", "e"}
r = {"f", "g", "c"}
p.intersection_update(q, r)
print(p)

{'apple'}
{'c'}

In [16]:
#SET disjoint() METHOD
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

In [17]:
#SET issubset() METHOD
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

In [18]:
#SET issuperset() METHOD
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = y.issuperset(x)
print(z)

True

In [20]:
#SET pop() METHOD
fruits = {"apple", "banana", "cherry"}
fruits.pop()
print(fruits)

{'apple', 'cherry'}

In [21]:
#SET remove() METHOD
fruits = {"apple", "banana", "cherry"}
fruits.remove("cherry")
print(fruits)

{'banana', 'apple'}

In [22]:
#SET symmetric_difference() METHOD
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'microsoft', 'banana', 'google', 'cherry'}

In [23]:
#SET symmetric_difference_update() METHOD
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'banana', 'google', 'cherry'}

In [25]:
#SET union() METHOD
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}
result = x.union(y, z)
print(result)

{'banana', 'microsoft', 'google', 'apple', 'cherry'}
{'a', 'c', 'b', 'd', 'f', 'e'}

In [26]:
#SET update() METHOD
x = {"apple", "banana", "cherry"}
y = ["google", "microsoft", "apple"]
x.update(y)
print(x)

{'microsoft', 'banana', 'google', 'apple', 'cherry'}